@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    align-items: center;
}


nav ul{
    display: flex;
    margin-left: 4%;
    list-style: none;
    cursor: pointer;
    margin-top: 15px;
}

.logo-img{
    margin-top: 15px;
}

.second-nav{
    align-items: center;
    margin-top: -15px;
    margin-left: 10%;
    cursor: pointer;
}

.second-nav li:hover{
    height: 20%;
    background: #f1f7ee;
    border-radius: 10px;
}

.second-nav li{
    margin-top: 3%;
        padding: 15px;
        left: 30%;
}


.second-nav img{
    margin-left: 10%;
} 

.second-nav p{
    display: inline-block;
    font-size: 15px;
    font-family: Heebo;
}

.right-nav{
    margin-left: 18%;
    margin-top: 10px;
}
.right-nav li{
    display: flex;
    padding: 10px;
   border-radius: 10px;
   font-size: 20px;
   font-family: heebo;
}

.right-nav img{
    height: 50%;
    width: 70%;
}
.border{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.right-nav li:hover{
    background: #f1f7ee;
}


.secondsec{
    width: 100%;
    height: 100%;
    background-image: url(./images/Background-img.jpg);
    background-size: auto;


}
.border li{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    
  /* align-items: center;
    justify-content: center;   */
}


.secondsec ul{
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.secondsec p{
    font-family: heebo;
    font-size: 20px;
    /* padding: 10px; */
}

.lastsec{
    padding: 20px;
   background-color: #e63946;
   border-radius: 0  10px   10px 0;
   color: white;
}



.img1{
    width: 30%;
    height: 30%;
    margin-top: 10%;
}


.border input{
    border: none;
    height: 30px;
    margin-top: 10px;
    outline: none;
    background-color: #f1f7ee;
}

.first{
    display: flex;
    padding: 10px;
    gap: 15%;
    align-items: center;
    justify-content: center;
}

.Bblock{
    display: block;
    padding: 10px;
}

.Ffirst{
    background-color: aliceblue;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.carousel-control-next-icon{
    background-color: black;
}

.carousel-control-prev-icon{
    background-color: black;
}


.Ffirst h3{
     font-size: 15px;
}

.btns{
    display: flex;
    gap: 10px;
}

.btn1 button{
    border: dashed;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px
}

.BTN2{
}

.one{
background-color: #f1f7ee;
 padding: 20px;
 border-radius: 10px 0 0 10px;
}
.one img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.two{
    background-color: #f1f7ee;
    padding: 20px;
}
.two img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.three{
    background-color: #f1f7ee;
    padding: 20px; 
}

.three img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}


.include{
    display: flex;
}

/* .bigImg img{
    margin-left: 0px;
} */

.boldText{
    font-family: heebo;
    font-size: 50px;
    margin-left: 7%;
    margin-top: 2%;
}
.include img{
    /* margin-left: 10%; */
    border-radius: 20px;
    background-image: url(./images/aboutUsImg.svg);
}

.bookings ul{
    display: flex;
    margin-left: -10%;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}
.bookings li{
    display: contents;
    margin-left: -10px;
}

.bookings p{
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
}

.bookings p:hover{
    color: #e63946;
}


.book1{
    position: absolute;
    font-size: 20px;
}


.book2{
    margin-top: 20%;
}
.book2 ul{
    display: block;
    margin-left: -7%;
}
.book2 li{
    display: flex;
    padding: 10px;
}

.book2 p{
    font-size: 15px;
    font-family: heebo;
    margin-left: 20px;
    margin-top: 5px;
}

.bookBtn{
    position: absolute;
    width: 20%;
    padding: 10px;
    border: none;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: #f1f7ee;
    background-color: #e63946;
    cursor: pointer;
}

.arrowBtn{
    width: 20px;
    height: 20px;
    position: inherit;
}

.details{
    display: flex;
    align-items: center; 
    justify-content: center; 
    /* margin-top: 50px; */
    padding: 10%;
}

.appdetails{
    background-color: #f1f7ee ;
    padding: 30px;
    background-color: #e63946;
    border-radius: 10px;
    display: flex; 
    margin-top: 10%;
}
.enjoy{
    font-family: heebo;
    font-size: 30px;
    color: white;
}

.access{
    padding: 10px;
}

.access1{
    width: 140%;
    border-radius: 10px;
    background-color:white;
}
.access p{
    margin-bottom: 10px;
}

.access1 img{
    margin-right: 10px;
}

.access ul{
    list-style: none;
   display: block;
   margin-top: 20px;
}

.access li{
    font-family: heebo;
    padding: 10px;
}

.rating{
    display: flex;
    padding: 6px;
}

.rating b{
    font-size: 20px;
}

.rating li{
    padding: 20px;
}

.contact{
    padding: 8%;
    /* margin-top: 30px; */
    margin-left: 10%;
    /* margin-right: -10%; */
}

.contactli{
    display: flex;
    background-color: #f1f7ee;
    border-radius: 10px;
}

.contact2 input{
    height: 100%;
    border: none;
    outline: none;
}

.cont{
   margin-left: 10%;
   background-color: black;
   color: white;
   width: 90%;
   border-radius: 0 10px 10px 0;
   border: none;
   outline: none;
}


.say{
    margin-bottom: 10px;
    /* margin-left: 20px; */
    color: white;
    font-family: heebo;
    font-weight: bolder;
}


.contact101{
    /* padding: 30px; */
    border-radius: 10px;
    width: 90%;
    border-radius: 10px;
   /* width: 109%;  */
}
/* 
.contactli button{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    border: none;
    color: white;
    background-color: black;
}

.contact2 , .contact1{
    background-color: #f1f7ee;
    /* height: 50%; */
    /* height: 90%; */
.contact2 input{
    border: none;
    background-color: #f1f7ee;
    outline: none;
}
.contact1{
    border-radius: 10px 0 0 10px;
    height: 30%;
    padding: 10px;
    font-family: heebo;
} 


.qrcode p{
    color: #f1f7ee;
    font-family: heebo;
    font-size: 15px;
    margin-bottom: 20px;
    /* width: 70px; */
}
.qrcode{
    display: flex;
    /* padding: 13px; */
    margin-top: 12px;
    gap: 41px;
}

.qr{
    padding: 20px;
}

.appstore{
    margin-top: 8%;

}

.store{
    width: 70%;
}

.primo{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec{
    display: flex;
    margin-top: 10%;
    /* width: 70%;
    align-items: center;
    justify-content: center; */
    /* margin-left: 10%; */
    margin-right:2%;
    margin-bottom: 10%;

}

.sec1, .sec2 , .sec3{
    display: flex;
    background-image: linear-gradient(to right, rgb(38, 72, 153), rgb(125, 70, 134));
    padding: 20px;
    margin-left: 30px;
    border-radius: 10px;
}
.secdetails1, .secdetails2, .secdetails3{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: whitesmoke;
    font-family: heebo;
}


.partners{
    margin: 10%;
}
.partnername{
    font-family: heebo;
    font-size: 40px;
    font-weight: 300;
}

.government{
    margin-top: 20px;
    font-family: heebo;
    font-size: 20px;
    display: flex;
}

.government button{
    margin-left: 80%;
    padding: 10px;
    border-radius: 20px;
    border: no1px solid black;
    cursor: pointer;
    font-family: heebo;
    font-size: 15px;
    width: 10%;
    background: none;
}

.government button:hover{
    background-color: aliceblue;
}

.partners ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners li{
    padding: 30px;
    margin-top: 30px;
}

.travel{
    /* display:grid; */
    display: flex;
}

.privateB{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: heebo;
    font-size: 30px;
}

.privateBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: heebo;
    font-size: 20px;
    padding:10px
}

.privateBtn button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.privateBtn button:hover{
    background-color: antiquewhite;
}


.faq{
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 5%;
}
.faq1{
     list-style: none;
    font-family: heebo;
    font-size: 40px;
    font-weight: 300;
}

.realted ul{
    display: flex;
    list-style: none;
    gap: 5%;
  margin-top: 10px;
  font-family: heebo;
    font-size: 20px;
    font-weight: bolder;
}

.realted li:hover{
    color: #e63946;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.ques{
    margin-top: 30px;
    border: 0.5px solid black;
    display: flex;
    width: 70%;
    height: 15%;
    padding: 15px;
    border-radius: 10px;
    /* text-align: center; */
    /* position: absolute; */
}
 .ques img{
    position: absolute;
    right: 28%;
    padding: 5px;
    cursor: pointer;
    width: 2%;
 }

 .ques p{
     margin-left: 5%;
     font-family: heebo;
     font-size: 20px;
 }

 .faqQ{
    margin-top: 5%;
 }

 .countries{    /* width: 50%; */
    /* padding: 31px; */
    display: flex;
    gap: 2%;
    font-family: heebo;
    text-align: center;
    font-size: 20px;
    justify-content: center;
 }

 footer{
    background-color: azure;
    margin-top: 10px;
 }

 .transSer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    gap: 10%;
    font-family: heebo;
    list-style: none;
    padding-top: 8%;
 }
 
 .transSer li{
    list-style: none;
    padding: 5px;
 }


 .lastFoot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 10%;
    margin: 3%;
    font-family: heebo;
 }
 .lastFoot li{
    list-style: none;
    padding: 3px;
 }

 .compInfo{
    width: 20%;
 }

 .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60%;
    background-color:#f1f7ee ;
 }


 .socialicon ul{
    display: flex;
 }
 .socialicon li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
 }
 .socialicon li:hover{
    background-color: aquamarine;
    border-radius: 10px;
 }

@media only screen and (max-width: 500px){

    nav ul{
        display: block;
        margin-top: 25px;
    }
    .secondsec{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100%;
    }

    .right-nav ul{
        margin-top: 5px;
    }

    .second-nav li{
        padding: 5px;
        /* width: 50%; */
    }

    .border{
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .border li{
        border-radius: 10px;
    }

    .include{
        display: block;
        font-size: 10px;
    }

    .include img{
        display: none;
    }

    .boldText{
        font-size: 25px;
    }

    .bookings ul{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    
    .appdetails{
        display: block;
        padding: 0px;
    }
    .one ,.two,.three{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .one, .two ,.three ,.lastsec{
        padding: 0px;
    }

    .rating{
        display: block;
        padding: 0px;
    }

    .bookBtn{
        width: auto;
       margin-left: 25%;
    }

    .flex1{
        display: flex;
    }
     
    .access{
        padding: 30px;
    }
    .access1{
        width: 100%;
    }

    .cont{
        margin-left: 0px;
    }

    .qrcode{
        gap: 0px;
        padding: 0px;
    }

    .appstore{
        display: none;
    }

    .contact{
        padding: 0px;
    }

    .contact1{
        display: none;
    }

    .primo{
        display: none;
    }

    .sec{
        display: block;
    }

    .sec1, .sec2, .sec3{
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .partners li{
        display: none;
    }

    .government button{
        margin-left: 10%;
        /* padding: 10px; */
        border-radius: 20px;
        border: 1px solid black;
        cursor: pointer;
        font-family: heebo;
        font-size: 15px;
         width: auto; 
    }

    .travel{
        display: none;
    }

    .realted ul{
        display: block;
    }
    .details{
        padding: 0px;
    }

    .ques{
        margin-top: 25px;
    border: 0.5px solid black;
    display: flex;
    /* width: 70%; */
    /* height: 5%; */
    padding: 3px;
    border-radius: 10px;
    /* text-align: center; */
    /* position: absolute;*/
    }

    .ques p{
        font-size:10px
        }
    
    .countries{
        display: block;
    }

    .countries img{
        width: 10%;
        height: 10%;
    }

    .transSer{
        padding: 20%;
    }

    .lastFoot{
        display: none;
        align-items: center;
        justify-content: center;
    }

    .socials{
        display: block;
    }

    .socials p{
        margin-left: 35%;
        margin-bottom: 10px;
    }

    .socials ul{
        display: flex;
    align-items: center;
    justify-content: center
    }

}
